
footer{
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 480px;
    padding: 25px 0;
    background-color: #0d0820;
}

footer .footer-direitos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.footer-direitos p{
    color: white;
    line-height: 40px;
    font-size: 1.3em;
}

footer nav{
    margin: 15px 22%;
    display: flex;
    max-width: 1170px;
}

nav .footer-info{
    flex-grow: 2;
    display: flex;
    flex-direction: row;
}

.footer-info ul{
    padding: 0 15px;
    flex: 1 0;
}

.footer-info ul h2{
    color: gray;
    font-size: 1.4em;
    margin-bottom: 0.5em;
}

.footer-info ul li{
    display: list-item;
    color: white;
    font-size: 1em;
    padding: 2px;
    line-height: 1.5em;
    list-style: none;
}

.footer-info .links-rapidos{
    padding: 0 15px;
    flex: 1 0;
    display: list-item;
}

.footer-info .links-rapidos h2{
    color: gray;
    font-size: 1.4em;
    margin-bottom: 0.5em;
}

.links-rapidos a{
    display: block;
    padding: 2px;
    color: white;
    font-size: 1em;
    line-height: 1.5em;
    list-style: none;
    text-decoration: none;
}

.footer-info .links-rapidos a:hover{
    color: #203d7c;
    transition: 0.2s;
}

nav .footer-logo{
    flex-grow: 1;
}

nav .footer-logo a{
    color: white;
    font-weight: 800;
    font-size: 2em;
    width: 100px;
    height: 100px;
    text-decoration: none;
}

footer .footer-local{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 26px 0;
}

.footer-local p{
    color: white;
    line-height: 38px;
    font-size: 1.0em;
}

.footer-local .phone {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-local .phone h3{
    color: gray;
    font-size: 1.1em;
    padding-right: 10px;
}

.footer-local .phone p{
    color: white;
    font-size: 1.0em;
}
