header{
    background-color: rgb(32, 61, 124);
    width: 100vw;
    height: 80px;
}

header .header-items{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 22px;
    margin: auto;
}

.header-items a{
    color: white;
    text-decoration: none;
}

.header-items a h1{
    font-size: 2em;
}

.header-items nav{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.header-items nav a{
    font-size: 1.1em;
    font-weight: 600;
    color: #dcdcdc;
    text-decoration: none;
    list-style: none;
}

.header-items nav a:hover{
    color: #ffffff;
    transition: 0.2s;
}






