header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em 0;
    margin: 0;
    height: 90px;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 1000; 
    overflow: hidden;

    .link-logo {
      font-weight: 800;
      font-size: 2.3em;
      text-decoration: none;
      list-style: none;
      color: black;
    }
  
    nav {
      display: flex;
      align-items: center;
      column-gap: 4em;
  
      ul {
        display: flex;
        column-gap: 3em;
        list-style: none;
  
          a {
            font-size: 1.1em;
            font-weight: 600;
            color: black;
            transition: all .4s;
            text-decoration: none;
          }
  
          a:hover {
            color: #fb8b77;
          }
      }
  
      div {
        display: flex;
        align-items: center;
        column-gap: 1em;
  
        img {
          width: 1.8em;
          cursor: pointer;
          transition: all .4s;
        }
  
        img:hover {
          opacity: 0.5;
        }
    
        a {
          background-color: tomato;
          padding: 0.8em;
          border-radius: 0.8em;
          text-decoration: none;
          color: white;
          font-weight: 800;
          transition: all .4s;
        }
    
        a:hover {
          opacity: 0.6;
        }
      }
    }
  }